@{
    bool isAuthenticated = base.User.Identity.IsAuthenticated;
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/CookingAppHW.styles.css" asp-append-version="true" />
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
</head>

<body>
    <header>
        <nav>
            <div class="hamburger">
                <div class="line1"></div>
                <div class="line2"></div>
                <div class="line3"></div>
            </div>
            <ul class="nav-links">
                <li>
                    <div style="display: flex; flex-direction: row; ">
                        <a style="font-weight: bold; color: #d06421; font-size: 30px;" href="/Home/Main">Cooking</a>
                        <a href="/Home/Main" style="margin-left: -6px;"><span style="font-size: 45px;"
                                class="material-symbols-outlined">restaurant</span></a>
                    </div>
                </li>

                @if (isAuthenticated)
                {
                    <li><a href="/Home/Index">Home</a></li>
                }

                <li><a href="/Recipes/GetAll">All Recipes</a></li>

                @if (isAuthenticated)
                {
                    <li><a href="/Recipes/MyRecipes">My Recipes</a></li>
                }

                @if (!isAuthenticated)
                {
                    <li><a href="/Identity/Login">Login</a></li>
                    <li><a href="/Identity/Registration">Registration</a></li>
                }

                @if (isAuthenticated)
                {
                    <li><a href="/Identity/Profile">Profile</a></li>
                    <li><a style="text-decoration: none; margin: 0 0.7vw;color: #434343;font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif" asp-area="" asp-controller="Identity" asp-action="Logout">LogOut</a></li>
                }
            </ul>
        </nav>
    </header>

    <div class="main-div">
        @RenderBody()
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>