@{
    ViewData["Title"] = "Login";
    string ReturnUrl = ViewData["returnUrl"] as string;
    string Login = string.Empty;
    string Password = string.Empty;
}

<button class="go-back">&#8249;</button>

<p class="error">@ViewData["ErrorMessage"]</p>

<form asp-asp-controller="Identity" asp-action="Login" method="post"> 
    <input type="hidden" asp-for="@ReturnUrl"> 
    <input asp-for="@Login" id="login" type="text" placeholder="Login" onkeydown="handleEnterKeyPress(event, 'password')">
    <input asp-for="@Password" id="password" type="password" placeholder="Password"  onkeydown="handleEnterKeyPress(event, 'submit')">

    <button id="submit" type="submit">Login</button>
</form>