@{
    ViewData["Title"] = "Create";

    var Title = string.Empty;
    var Description = string.Empty;
    var Category = string.Empty;
    int Price = 0;
}

<button class="go-back">&#8249;</button>

<form onsubmit="return validateForm();" asp-asp-controller="Cooking" asp-action="Create" method="post">
    <input onkeydown="handleEnterKeyPress(event, 'description')" id="title" asp-for="@Title" type="text"
        placeholder="Title" />
    <textarea onkeydown="handleEnterKeyPress(event, 'category')" id="description" asp-for="@Description"
        placeholder="Description" cols="30" rows="10"></textarea>
    <input onkeydown="handleEnterKeyPress(event, 'price')" id="category" asp-for="@Category" type="text"
        placeholder="Category" />
    <input onkeydown="handleEnterKeyPress(event, 'submit')" id="price" asp-for="@Price" type="number"
        placeholder="Price">

    <input id="submit" type="submit" value="Create" />
</form>