@model IEnumerable<Recipe>

@{
    ViewData["Title"] = "Recipes";
}

<ul>
    @foreach (var recipe in Model)
    {
        <div class="title">
            <li>@recipe.Title</li>
        </div>
        <div class="price">
            <li>@recipe.Price$</li>
        </div>
        <a asp-action="Details" asp-controller="Cooking" asp-route-id="@recipe.Id">Details</a>
    }
</ul>