@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="display-4"><span>@ViewData["Username"]</span>!</h1>
</div>

<p class="interpretation">Explore the world of culinary delights with Cooking! This is your space to discover, share,
    and indulge in a variety of mouthwatering recipes. Whether you're a seasoned chef or a kitchen novice, there's
    something here for everyone. </br></br> Feel free to browse through the diverse collection of recipes contributed by
    our vibrant community, or contribute your own signature dish to inspire others. Let the culinary journey begin!
    <br><br> --> Watch your <a class="profile" href="/Identity/Profile">Profile</a>
</p>