@{
    ViewData["Title"] = "Main";
}

<div class="text-center" style="margin-top: 200px;">
    <h1 class="display-3">Welcome To The Cooking App!</h1>
    <p>Find the recipe of your favorite dish by clicking on <a href="/Recipes/GetAll">All Recipes</a>
        !</p>
</div>