body {
  background-color: #323437;
  overflow-x: hidden;
}

form {
  padding-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

form input,
form textarea {
  padding: 20px;
  display: flex;
  width: 90vw;
  border-radius: 20px;
  border: none;
  margin-bottom: 15px;
  background-color: #43464d;
  color: #ffffff;
}

#submit {
  display: block;
  text-align: center;
  width: 90vw;
  padding: 17px;
  border-radius: 15px;
  border: none;
  background-color: #477353;
  color: #ffffff;
}

#submit:hover {
  background-color: #4b8c5d;
  transition: 0.4s ease;
}

ul {
  padding-top: 1rem;
  list-style: none;
}

li {
  color: #ffffff;
}

ul {
  border-radius: 10px;
}

ul div {
  padding: 30px;
  background-color: #43464d;
  margin-right: 40px;
}

span {
  color: #4b8c5d;
  font-weight: bold;
}

.title {
  margin-top: 30px;
  background-color: #404040;
  border-radius: 10px 10px 0 0;
  font-size: 25px;
}

p {
  padding-top: 5rem;
  color: #ffffff;
}

h1, h2 {
  color: #ffffff;
  padding: 100px;
}

.go-back {
  background-color: #565656;
  color: #ffffff;
  text-decoration: none;
  display: inline-block;
  padding: 4rem 16px 0 16px;
  border-radius: 0 0 5px 0;
  font-size: 2rem;
  border: none;
}

.go-back:hover {
  background-color: #cfcfcf;
  color: #000000;
  transition: 0.4s ease;
}

.text-center {
  font-family: 'Poppins', sans-serif;
}

.details {
  text-decoration: none;
  background-color: #323437;
  padding: 10px 15px;
  border-radius: 4px;
  color: #002af9;
}


.details:hover {
  color: #006eff;
  background-color: #393939;
  transition: 0.2s ease;
}

.price {
  margin-bottom: 25px;
}

.interpretation {
  margin: 50px;
  font-size: 25px;
  font-family: 'Poppins', sans-serif;
  margin-top: -100px;
}

.logout {
  text-decoration: none;
  margin: 0 0.7vw;
  color: #b8b8b8;
}

.logout:hover {
  color: #eeeeee;
  transition: 0.2s ease;
}

.profile {
  color: rgb(55, 144, 89);
}

.profile:hover {
  color: rgb(49, 114, 75);
  transition: 0.1s ease;
}