@model Recipe

@{
    ViewData["Title"] = "Edit";
}

<div class="edit-div">
    <p class="error">@ViewData["ErrorMessage"]</p>

    <form class="edit-form" asp-action="MyEdit" asp-controller="Recipes">
        <p class="form-name">Edit Recipe</p>
        <input type="number" asp-for="Id" hidden>
        <input type="text" asp-for="Title" placeholder="Title">
        <input type="text" asp-for="Description" placeholder="Description">
        <input type="text" asp-for="Category" placeholder="Category">
        <input type="nubmer" asp-for="Price" placeholder="Price">

        <button>Save Changes</button>
    </form>
</div>