@model IEnumerable<Recipe>

@{
    ViewData["Title"] = "My Recipes";
}

<button class="go-back">&#8249;</button>

<a href="/Recipes/Create" class="create-recipe">Create New Recipe</a>

@if (!Model.Any())
{
    <h1>There is no recipes</h1>
}
else
{
    <ul>
        @foreach (var recipe in Model)
        {
            <div class="title">
                <li>@recipe.Title</li>
            </div>
            <div>
                <li class="price">@recipe.Price$</li>

                <a href="/Recipes/Details?id=@recipe.Id" class="details"><i class="material-icons">info</i></a>
            </div>
        }
    </ul>
}