@model IEnumerable<Recipe>

@{
    bool isAuthenticated = base.User.Identity.IsAuthenticated;
    bool isAdmin = this.User.IsInRole("Admin");

    ViewData["Title"] = "Recipes";
}


@if (!Model.Any())
{
    <h1 style="margin-top: 300px; font-weight: 100;">There is no recipes!</h1>
}
else
{
    <ul class="recipe-ul">
        @foreach (var recipe in Model)
        {
            <div class="recipe-div">
                @{
                    string image = $"{recipe.Id}.png";
                }
                <div class="recipe-image" class="mt-3"><img src="~/images/recipes/@image" class="img-fluid"></div>
                <div class="title">
                    <li>@recipe.Title</li>
                    <li class="price">@recipe.Price$</li>
                </div>
                <div>
                    <a href="/Recipes/Details?id=@recipe.Id" class="details"><i class="material-icons">info</i></a>
                    @if (isAdmin)
                    {
                        <a class="edit" href="/Recipes/Edit?id=@recipe.Id"><i class="material-icons">edit</i></a>
                        <a class="delete" onclick="deleteRecipe(@recipe.Id)"><i class="material-icons">delete</i></a>
                    }
                </div>
            </div>
        }
    </ul>
}

<script>
    async function deleteRecipe(id) {
        await fetch('/Recipes/Delete/' + id,
            {
                method: 'DELETE'
            }).then(() => location.reload());
    }
</script>